<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dhcpServer" type="WinDHCP.Library.Configuration.DhcpServerConfigurationSection, WinDHCP.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <dhcpServer networkInterface="vEthernet (Vagrant)" startAddress="192.168.192.100" endAddress="192.168.192.200" subnet="255.255.255.0" gateway="192.168.192.1" leaseDuration="0.01:00:00">
    <macAllowList>
      <add physicalAddress="*" />
    </macAllowList>
    <macReservationList>
      <!--<add physicalAddress="ff:ff:ff:ff:ff:ff" ipAddress="192.168.192.100"/>-->
    </macReservationList>
    <dnsServers>
	    <add ipAddress="1.1.1.1"/>
	    <add ipAddress="1.0.0.1"/>
	  </dnsServers>
  </dhcpServer>
</configuration>